@charset "utf-8";
body{font-family:Arial,sans-serif;background:#EEE;color:#333;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{color:#013489;}
.container{width:960px;background:#FFF;margin:0 auto;}
.header,.footer{padding:10px 20px;background-color:#94BCFE; }
.content{padding:10px 20px;}
